@model List<MyEgitimAkademi_Portfolio.Models.Projects>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />

<h2 style="background-color:burlywood; text-align:center; border-radius:8px; color:ghostwhite">Proje Listesi</h2>
<br />
<table class="table table-bordered" style="text-align:center; background-color:beige">
    <tr>
        <th>Proje ID</th>
        <th>Proje Adı</th>
        <th>Proje Kategori</th>
        <th>Proje Sil</th>
        <th>Proje Güncelle</th>
        <th>Githubta Gör</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.projectsID</td>
            <td>@p.tittle</td>
            <td>@p.Category.categoryName</td>
            <td><a href="/Project/DeleteProject/@p.projectsID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Project/UpdateProject/@p.projectsID" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Project/GithubProject/@p.projectsID" class="btn btn-outline-secondary">Github</a></td>

        </tr>

    }

</table>
<br />
<a href="/Project/projectAdd/" class="btn btn-outline-secondary">Yeni Proje Ekle</a>


